---
import EmailModal from './EmailModal.astro';

interface Props {
	email: string;
	linkedinLink: string;
}

const { email, linkedinLink } = Astro.props;
---

<button
	class:list={[
		'h-[2rem]',
		'rounded-lg',
		'bg-secondary-500 hover:bg-secondary-600',
		'text-white',
	]}
	data-modal-target='select-modal'
	data-modal-toggle='select-modal'
	type='button'>
	Email
</button>

<a class:list={['w-full']} target='_blank' href={linkedinLink}>
	<button
		class:list={[
			'w-full',
			'h-[2rem]',
			'rounded-lg',
			'hover:bg-secondary-100',
			'border-2',
			'border-secondary-500 hover:border-secondary-600',
			'text-secondary-500 hover:text-secondary-600',
		]}>
		Linkedin
	</button>
</a>

<EmailModal email={email} />
