---
import Layout from '../layouts/Layout.astro';
import Experience from '../components/Experience/Experience.astro';
import Profile from '../components/Profile/Profile.astro';
---

<Layout title='Home'>
	<div
		class:list={[
			'grid',
			'grid-cols-[1fr] md:grid-cols-[1fr_1.5fr] lg:grid-cols-[1fr_2.5fr]',
			'gap-12',
		]}>
		<div class:list={['w-full']}>
			<Profile />
		</div>
		<main class:list={['w-full']}>
			<Experience />
		</main>

		<div class:list={['w-full', 'h-auto', 'md:col-span-2']}></div>
	</div>
</Layout>
