---
import Layout from '../layouts/Layout.astro';
---

<Layout title='Home'>
	<p class='w-full p-8'>
		Est est ea proident quis culpa ullamco ea. Quis aliquip sunt quis
		consequat fugiat aliquip ex fugiat. Nulla non ad Lorem aliquip sunt quis
		pariatur eiusmod occaecat. Incididunt qui culpa aute eu anim laborum.
		Exercitation cillum esse esse quis id fugiat. Veniam nisi culpa mollit
		qui aliqua in ea. Anim eiusmod velit in proident voluptate incididunt in
		amet culpa. Tempor elit exercitation Lorem pariatur exercitation
		pariatur occaecat consequat tempor aliqua qui deserunt amet. Ullamco
		commodo eu eu fugiat aliqua excepteur adipisicing ullamco dolor quis in
		esse. Pariatur proident consectetur velit quis reprehenderit laborum
		amet minim culpa incididunt. Fugiat eiusmod irure enim officia non
		consequat anim est dolor. Amet Lorem mollit fugiat ea sint esse. Aliquip
		ea aliqua occaecat culpa excepteur. Id non laboris id incididunt
		pariatur. Excepteur eu esse excepteur sunt Lorem ipsum irure. Nisi ut
		fugiat incididunt culpa esse aliqua officia ad deserunt dolor ullamco.
		Nisi in exercitation qui fugiat reprehenderit qui. Proident enim
		proident aliquip elit. Sunt laborum ea adipisicing deserunt. Et enim
		laboris amet nulla irure eu velit qui ex exercitation commodo velit.
		Laborum labore dolor ad tempor mollit sint. Cupidatat quis ullamco irure
		enim eu in excepteur fugiat irure ex sunt incididunt. Fugiat sit
		proident consectetur laborum laboris velit consectetur elit in mollit
		nisi irure nostrud. Deserunt nostrud ullamco nostrud exercitation irure
		officia ex. In nostrud irure commodo occaecat consectetur consectetur
		sit culpa. Sunt do ea aute aliquip. Incididunt ipsum nisi voluptate
		eiusmod in ad quis excepteur eiusmod nulla laboris voluptate.
	</p>
</Layout>
