---
import Tag from '../Tag/Tag.astro';
import type { Experience as Props } from '../../data';

const { date, title, description, tags } = Astro.props;
---

<div
	class:list={[
		'experincie-container',
		'w-full',
		'h-auto',
		'flex',
		'flex-col lg:flex-row',
		'gap-2 lg:gap-8',
		'rounded',
		'p-6',
		'hover:bg-secondary-100 dark:hover:bg-secondary-600/50',
	]}>
	<div class:list={['flex-0']}>
		<h1
			class:list={[
				'text-neutral-500 dark:text-neutral-400',
				'text-sm',
				'pt-none lg:pt-1.5',
			]}>
			{date}
		</h1>
	</div>
	<div class:list={['flex-1', 'flex', 'flex-col', 'gap-0.5']}>
		<h1
			class:list={[
				'font-bold',
				'text-lg',
				'text-neutral-950 dark:text-neutral-200',
			]}>
			{title}
		</h1>

		{
			description?.length && (
				<div class:list={['flex', 'flex-col', 'gap-4']}>
					{description.map((descriptionParagraph: string) => (
						<p
							class:list={[
								'text-neutral-700 dark:text-neutral-300',
							]}>
							{descriptionParagraph}
						</p>
					))}
				</div>
			)
		}

		<ul class:list={['flex', 'flex-wrap', 'mb-1.5']}>
			{
				tags.map((tag: string) => (
					<li>
						<Tag text={tag} />
					</li>
				))
			}
		</ul>
	</div>
</div>
