---
import ExperienceCard from './ExperienceCard.astro';
import ExperienceIcon from './ExperienceIcon.astro';

import { EXPERIENCES } from '../../data';
import './experience.css';
---

<script>
	import { handleExperienceHeight } from './helpers';
	handleExperienceHeight();
</script>

<section class:list={['experience-section', 'w-full', 'flex', 'flex-col']}>
	<div class:list={['w-full', 'h-auto', 'flex', 'gap-8', 'mb-4']}>
		<div
			class:list={[
				'lg:ml-[6.5rem]',
				'pl-6 lg:pl-0',
				'flex',
				'flex-0',
				'justify-end',
				'self-center',
			]}>
			<ExperienceIcon />
		</div>
		<h1 class:list={['text-5xl', 'font-bold', 'flex-1']}>
			Commercial Experience
		</h1>
	</div>

	<div class:list={['thin-scrollbar', ['overflow-auto']]}>
		{
			EXPERIENCES.map(({ date, title, description, tags }) => (
				<ExperienceCard
					date={date}
					title={title}
					description={description}
					tags={tags}
				/>
			))
		}
	</div>
</section>
