---
import '@fontsource-variable/onest';
import Header from '../components/Header/Header.astro';

import '../styles/global.css';

import { METADATA } from '../data';

interface Props {
	title: string;
}

const { pageDescription, pageTitle } = METADATA;
---

<script>
	import { initThemeConfiguration } from '../helpers';
	initThemeConfiguration();
</script>

<html
	lang='en'
	class:list={[
		'scroll-smooth',
		['bg-slate-100', 'dark:bg-slate-800'],
		['text-slate-800', 'dark:text-slate-200'],
		'scroll-pt-[7.70rem]',
	]}>
	<head>
		<meta charset='UTF-8' />
		<meta name='description' content={pageDescription} />
		<meta name='viewport' content='width=device-width' />
		<meta name='generator' content={Astro.generator} />

		<link
			rel='apple-touch-icon'
			sizes='57x57'
			href='/favicons/apple-icon-57x57.png'
		/>
		<link
			rel='apple-touch-icon'
			sizes='60x60'
			href='/favicons/apple-icon-60x60.png'
		/>
		<link
			rel='apple-touch-icon'
			sizes='72x72'
			href='/favicons/apple-icon-72x72.png'
		/>
		<link
			rel='apple-touch-icon'
			sizes='76x76'
			href='/favicons/apple-icon-76x76.png'
		/>
		<link
			rel='apple-touch-icon'
			sizes='114x114'
			href='/favicons/apple-icon-114x114.png'
		/>
		<link
			rel='apple-touch-icon'
			sizes='120x120'
			href='/favicons/apple-icon-120x120.png'
		/>
		<link
			rel='apple-touch-icon'
			sizes='144x144'
			href='/favicons/apple-icon-144x144.png'
		/>
		<link
			rel='apple-touch-icon'
			sizes='152x152'
			href='/favicons/apple-icon-152x152.png'
		/>
		<link
			rel='apple-touch-icon'
			sizes='180x180'
			href='/favicons/apple-icon-180x180.png'
		/>

		<link
			rel='icon'
			type='image/png'
			sizes='192x192'
			href='/favicons/android-icon-192x192.png'
		/>

		<link
			rel='icon'
			type='image/png'
			sizes='32x32'
			href='/favicons/favicon-32x32.png'
		/>
		<link
			rel='icon'
			type='image/png'
			sizes='96x96'
			href='/favicons/favicon-96x96.png'
		/>
		<link
			rel='icon'
			type='image/png'
			sizes='16x16'
			href='/favicons/favicon-16x16.png'
		/>

		<title>{pageTitle}</title>
	</head>
	<body
		class:list={['max-w-screen-2xl', 'min-h-screen', 'w-auto', 'mx-auto']}>
		<div id='home' class:list={['h-[250px]', 'w-full']}>
			<Header />
		</div>
		<div
			class:list={[
				'max-w-screen-xl',
				'mx-auto',
				'pr-0 md:pr-12 2xl:pr-0',
				'pl-0 md:pl-12 2xl:pl-0',
				'mt-none sm:mt-12 xl:mt-16',
			]}>
			<slot />
		</div>

		<script src='../../node_modules/flowbite/dist/flowbite.min.js'></script>
	</body>
</html>

<style is:global>
	:root {
		font-family: 'Onest Variable', sans-serif;
		color-scheme: light dark;
	}
</style>
