---
import '@fontsource-variable/onest';
import Header from '../components/Header/Header.astro';

interface Props {
	title: string;
}
---

<!doctype html>
<html lang='en' class='bg-neutral-50 dark:bg-neutral-800'>
	<head>
		<meta charset='UTF-8' />
		<meta
			name='description'
			content='Portfolio of Daniel Alarcón, Software Engineer specialized in the web'
		/>
		<meta name='viewport' content='width=device-width' />
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
		<meta name='generator' content={Astro.generator} />
		<title>Daniel Alarcón - Software Engineer</title>
		<script
			is:inline
			src='https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js'
		></script>
	</head>
	<body
		class='max-w-[2048px] min-h-screen w-auto mx-auto text-neutral-800 dark:text-neutral-300'
	>
		<Header />

		<div class='max-w-screen-lg mx-auto'>
			<slot />
		</div>
	</body>
</html>

<style is:global>
	:root {
		font-family: 'Onest Variable', sans-serif;
		color-scheme: light dark;
	}
</style>
